/* css stylesheet */
.information-bg{
    background-color: lightslategrey;
    border-radius: 20px;
    margin-top: -70px;
    padding: 23px;
    box-shadow: 0px 30px 20px 0px #d1d1d1;
    color: #ffff;
}
.our-pac{
    margin-bottom: 100px;
    margin-top: 80px;
}
.images{
    padding: 0px 110px;
}
.Happy{
    padding-top: 50px;
    padding-bottom: 20px;
    font-style: italic;
    font-weight: 700;
}
.pragerap{   
width: 203px;  
margin: auto;   
margin-bottom: 12px;  
font-style: italic;
}
.Happy-clin{  
margin: 50px 0px;
    
box-shadow: 0px 10px 20px 15px #bdbdbd;
}
.hello{  
float: right;   
background: linear-gradient(45deg, #662112, transparent); 
color: white;   
font-weight: 700;
}
.name{
    text-align: center;
    width: 100px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 7px;
}
.hot{
background: red;
width: 42px;
border-radius: inherit;
font-size: 14px;
text-align: center;
padding: 3px 0px;
float: right;
margin-top: -35px;
}
button.accordion-button.title.collapsed {
    background: linear-gradient(40deg
,#8c6eab , transparent);
    box-shadow: 0px 20px 20px 0px #79799b;
}
.title-name{
   color: white;
    border-radius: 5px;
}
.color-style{
    background-color: #3f6890;
    color: white;
}
h1.title-style {
    width: 495px;
    margin: auto;
    background: repeating-linear-gradient(45deg, #838ba9cc, transparent 100px);
    padding: 10px;
    border-radius: 5px;
    color: #b2bedf;
}
p.pra-style {
    width: 423px;
    padding: 10px;
    margin: auto;
    background: linear-gradient(40deg, #47b2f17d, transparent);
    border-radius: 10px;
}
